body {
	margin: 0;
	background-color: white;
	font-family: "Pixel Code", "Martian Mono", "Comic Sans MS", monospace;
}

a {
	color: red;
}

details {
	padding: 4px 0 4px 0;
}

hr {
	border: solid black 1px;
}

a, button, summary::marker {
	cursor: url('cursor-pointer.png') 12 12, auto;
}

.main {
	box-shadow: 10px 10px 0 -3px white, 10px 10px 0 0 black;
	border: solid black 4px;
	margin: 4px 0 10px 0;
	padding: 3ch;
	margin-left: 25%;
	margin-right: 25%;
	background-color: white;
	min-height: 100vh;
	cursor: url('cursor.png') 12 12, auto;
	@media (max-width: 1200px) {
		margin-left: 12%;
		margin-right: 12%;
	}
	@media (max-width: 500px) {
		margin-left: 0;
		margin-right: 0;
		border: 0;
		box-shadow: none;
	}
}

.profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 1rem;
}

.profile-image {
	max-width: 256px;
	max-height: 256px;
	margin-inline: auto;
}
